.container{
    text-align: center;
    margin-top: 2rem;
}


#button1{
    margin-top: 1rem;
}

.divider{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.divider span{
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: bold;
}

.text h1{
    color: #5271ff;
    font-family: Quicksand;
}