.detector{
    margin-top: 2rem;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    text-align: center;
}

.buttons{
    margin-top: 1rem;
}
