{% extends 'base.html' %}

{% block styles %}

    <link rel="stylesheet" href="{{url_for('static', filename='CSS/index.css')}}">

{% endblock %}

{% block scripts %}

    <script src="{{url_for('static', filename='javascript/script.js')}}"></script>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="img-pred-container">
            <div>
                <form action="", method="post" enctype="multipart/form-data">
                    <div class="input">
                        <div>
                            <img id="uploadPreview" style="width: 350px;"/>
                        </div>
                        <div>
                            <input id="uploadImage" type="file" name="myPhoto" accept="image/*" onchange="PreviewImage();"/>
                            <br/>
                            <button id="button1" class="button" type="submit">Detect in Image</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="divider">
            <span>or</span>
        </div>

{% endblock %}